# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Environment
.env
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
tempCodeRunnerFile.py